ion-card {
	// width: 100%;
	min-height: 90%;

	.cardImage {
    object-fit: cover;
    width: 100%;
    height: 200px;
	}

	p {
		text-align: justify;
	}

	.cardContent {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 15px;
	}
}